<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>mysite</title>

		<link rel="stylesheet" href="../../assets/css/mysite.css">
		<link rel="stylesheet" href="../../assets/css/reset.css">
		<link rel="stylesheet" href="../../assets/css/image.css">

		<!-- 구조(태그) 먼저 잡으삼!
		꾸미기는 나중에!!!!!! -->
	</head>

	<body>
		<div id="wrap">

			<!-- 헤더관련 -->
			<div id="header" class="clearfix">
				<h1>mysite</h1>
				<ul class="clearfix">
					<li>
						<a href="">로그인</a> 
					</li>
					<li>
						<a href="">회원가입</a>
					</li>
				</ul>
			</div>

			<!-- 네비관련 -->
			<div id="nav">
				<ol class="clearfix">
					<li>
						<a href="">입사지원</a>
					</li>
					<li>
						<a href="">게시판</a>
					</li>
					<li>
						<a href="">갤러리</a>
					</li>
					<li>
						<a href="">방명록</a>
					</li>
				</ol>
			</div>



			<!-- 컨텐츠관련 -->
			<div id="content2" class="clearfix">
				<div id="aside">
					<h2>갤러리</h2>
						<ol>
							<li>일반갤러리</li>
							<li>파일첨부연습</li>
						</ol>

				</div>



				<div id="main">
					<div id="main-head" class="clearfix">
						<h3>갤러리</h3>
						<ol class="clearfix">
							<li>홈</li>
							<li>게시판</li>
							<li>일반게시판</li>

						</ol>
					</div>
				</div>

				<div class="gallery">
					사진
					<img src="../../assets/images/Gangho-dong.jpg" alt="강호동프로필사진">


				</div>
				





			</div>




			<div id="footer">
				<div>
					Copyright ⓒ 2025 최수진. All right reserved
				</div>		
			</div>
		
		
		</div>
		<!-- wrap 끝 -->
	</body>

</html>
