<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>mysite</title>

	<link rel="stylesheet" href="../../assets/css/mysite.css">
	<link rel="stylesheet" href="../../assets/css/reset.css">
	<link rel="stylesheet" href="../../assets/css/main.css">
	<link rel="stylesheet" href="../../assets/css/board.css">

		<!-- 사이트2는 맨처음 만들었던 것들 갖고 와서 사용해도 됨!
		      단, 같은 홈페이지를 만들 때. -->

	</head>


	<body>
		<div id="wrap">

			<!-- 헤더관련 -->
			<div id="header" class="clearfix">
				<h1>mysite</h1>
				<ul class="clearfix">
					<li>
						<a href="">로그인</a> 
					</li>
					<li>
						<a href="">회원가입</a>
					</li>
				</ul>
			</div>

				
			
			<!-- 네비관련 -->
			<div id="nav">
				<ol class="clearfix">
					<li>
						<a href="">입사지원</a>
					</li>
					<li>
						<a href="">게시판</a>
					</li>
					<li>
						<a href="">갤러리</a>
					</li>
					<li>
						<a href="">방명록</a>
					</li>
				</ol>
			</div>



			<!-- 컨텐츠관련 -->
			<div id="content2" class="clearfix">
				<div id="aside">
					<h2>게시판</h2>
						<ol>
							<li>일반게시판</li>
							<li>댓글게시판</li>
						</ol>

				</div>



				<div id="main">
					<div id="main-head" class="clearfix">
						<h3>일반게시판</h3>
						<ol class="clearfix">
							<li>홈</li>
							<li>게시판</li>
							<li>일반게시판</li>

						</ol>
					</div>


					<div class="search-group">	
						<input type="text" name="" value="" class="btn-search">
						<button type="button">검색</button>
					</div>

					
					<!-- 테이블 리스트 -->
					<div id="board-list">
						<table>
							<colgroup>
								<col style="width: 90px;">
								<col style="width: 350px;">
								<col style="width: 90px;">
								<col style="width: 90px;">
								<col style="width: 90px;">
								<col style="width: 90px;">																		
							</colgroup>


							<thead>
								<tr>
									<th>번호</th>
									<th>제목</th>
									<th>글쓴이</th>
									<th>조회수</th>
									<th>작성일</th>
									<th>관리</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>123</td>
									<td class="td-align">
										<a href="">oo님의 게시물입니다.</a>
									</td>
									<td>최수진</td>
									<td>1234</td>
									<td>2025-04-09</td>
									<td>
										<div class="del-box">삭제</div>
									</td>
								</tr>

								<tr>
									<td>123</td>
									<td class="td-align">
										<a href="">oo님의 게시물입니다.</a>
									</td>
									<td>최수진</td>
									<td>1234</td>
									<td>2025-04-09</td>
									<td>
										<div class="del-box">삭제</div>
									</td>
								</tr>

								<tr>
									<td>123</td>
									<td class="td-align">
										<a href="">oo님의 게시물입니다.</a>
									</td>
									<td>최수진</td>
									<td>1234</td>
									<td>2025-04-09</td>
									<td>
										<div class="del-box">삭제</div>
									</td>
								</tr>

								<tr>
									<td>123</td>
									<td class="td-align">
										<a href="">oo님의 게시물입니다.</a>
									</td>
									<td>최수진</td>
									<td>1234</td>
									<td>2025-04-09</td>
									<td>
										<div class="del-box">삭제</div>
									</td>
								</tr>

								<tr>
									<td>123</td>
									<td class="td-align">
										<a href="">oo님의 게시물입니다.</a>
									</td>
									<td>최수진</td>
									<td>1234</td>
									<td>2025-04-09</td>
									<td>
										<div class="del-box">삭제</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				<!-- 숫자 페이지 -->
					<div class="page">
						<ol>
							<li>◀</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>6</li>
							<li>7</li>
							<li>8</li>
							<li> 9 </li>
							<li>10</li>
							<li>▶</li>
						</ol>
					</div>
					
					
					<button type="submit" class="btn-write">
						글쓰기
					</button>
				
			
				</div>
				<!-- 메인 끝 -->

			</div>
			<!-- content2 끝 -->


			<div id="footer">
				<div>
					Copyright ⓒ 2025 최수진. All right reserved
				</div>
		
		</div>
		<!-- wrap 끝 -->
		
	</body>

</html>



