@charset "UTF-8";


.img-upload{
	width: 100px;
	padding: 5px 0px 5px 0px;
	float: right;
}



#gallery{
	width: 798px;
	border: 1px solid #000;
	float: left;
}


#gallery img{
	width: 250px;
	float: left;
}



