@charset "UTF-8";

table{
	border-collapse: collapse;
	border-bottom: 3px solid #d5d5d5;
}

 thead{
	background: #d5d5d5;
	border-top: 2px solid #6e6e6e;
	border-bottom: 2px solid #646464; 
}

tbody{
	text-align: center;
}

tbody tr:hover{
	background-color: #ffff00; 
}

tbody>tr>td{
	border-top: 2px dotted #d5d5d5;
	border-bottom: 2px dotted #d5d5d5;
}

table>tbody>tr:nth-child(2n){
	background-color: aqua;
}
/* 예쁘당 (2n-1)=홀수칸
		 (2n)=짝수칸 */