@charset "UTF-8";

table{
	border-collapse: collapse;
	border-bottom: 1px solid #000;
	text-align: center;
}

thead{
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	background-color: rgb(188, 228, 215);
}

td{
	border-bottom: 1px dashed #1e6cb6;
	border-top: 1px dashed #1e6cb6;
}

tbody>tr:hover{
	background-color: rgb(243, 196, 243);
}

.box{
	width: 50px;
	border: 2px solid #c0ba9b;
	border-radius: 10px;
	background-color: #e6d88d;
	text-align: center;
}

.box:hover{
	background-color: #38a10e;
}